.logo {
  height: 10em;
  align-self: center;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
}

.nav-items {
  padding: 0 20px;
}

.nav-items > ul {
  font-size: 25px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.nav-items > ul > li:hover {
color: blue;
cursor: pointer;
}

.res-card {
  padding: 5px;
  margin: 10px;
  width: 200px;
  height: 300px;
  border: 1px solid azure;
  background-color: azure;
}

.res-card:hover {
  border: 2px solid grey;
  cursor: pointer;
}

.res-logo {
  width: 100%;
}

.search {
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;

}

.card-items {
  display: flex;
  padding: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
